<div id="<%= dom_id car %>">
  <div>
    <strong>Make:</strong>
    <%= car.make %>
  </div>

  <div>
    <strong>Model:</strong>
    <%= car.model %>
  </div>

  <div>
    <strong>Year:</strong>
    <%= car.year %>
  </div>

</div>
